<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Base</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Batman Quotes</h1>
        <input type="text" v-model="newQuote" v-on:keypress.enter="addQuote"/>
        <hr>
        <ul>
            <li v-for="({quote, author}, index) in quotes" :key="quote.author">
                <span>{{ index+1 }} - {{ quote }}</span> 
                <!-- <blockquote v-if="author">-{{ author }}</blockquote> -->
                <blockquote v-show="author">-{{ author }}</blockquote>
            </li>
        </ul>
    </div>
    <script src="./app.js"></script>
</body>
</html>